{{- if (and (eq .Values.configuration.platform.type "openshift") .Values.configuration.platform.openshift.scc.create) }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: s1 
  labels:
    {{- include "sentinelone.helper.labels" . | nindent 4 }}
  {{ if eq (include "argocdPostDeleteHook.enabled" .) "true" }}
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
  {{- end }}
allowPrivilegedContainer: false
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
allowHostPorts: {{ .Values.configuration.env.helper.hostNetwork }} # Running openshift with helper on host network takes ports from host
allowedCapabilities: {{ toYaml .Values.agent.capabilities | nindent 2 }}
fsGroup:
  type: RunAsAny
groups: []
priority: 0
readOnlyRootFilesystem: false
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
  - '*'
supplementalGroups:
  type: RunAsAny
users:
  - system:serviceaccount:{{ .Release.Namespace }}
  - system:serviceaccount:{{ .Release.Namespace }}:{{ include "sentinelone.serviceAccountName" . }}
# Volumes must be added in alphabetic order to avoid sync issues with gitops tools
volumes:
  - configMap
  - hostPath
  - secret
{{- end }}

