# For the simplest of deployments, where you use your own package registry and create all secrets in this deployment, all values
# that you typically need to edit are shown under "configuration"
#
configuration:
  deployment_type: "helm"  # Default, could be "argocd" if using Argo CD
  argocd:
    post_delete_hook_enabled: "true"
    post_delete_hook_timeout: 600  # In seconds
  helm_hooks:
    pre_delete_hook_timeout: 600 # In seconds
  cluster:
    name: "" # set the name of your cluster
    uid: "" # set the cluster uid
    tags: # set the cluster tags using the example below, or alternatively, pass them in JSON format
      # Example:
      # tag-key-1: "value"
      # tag-key-2: "value"
  image:
    agent: "" # Leave empty to use agent repositories and tags values below, or provide a full image (with repo:tag) value to override them
    helper: "" # Leave empty to use helper repositories and tags values below, or provide a full image (with repo:tag) value to override them
  repositories:
    agent: "cws-agent/s1agent" # Edit and add your own registry paths
    helper: "cws-agent/s1helper" # Edit and add your own registry paths
  tag:
    agent: "25.3.1" # IF you want to use a different tag for the agent (only do so if advised by support), please replace this with the relevant tag for the agent image
    helper: "25.3.1" # IF you want to use a different tag for the helper (only do so if advised by support), please replace this with the relevant tag for the helper image
  proxy: "" # specify a proxy server (in URL format), if needed
  dv_proxy: "" # specify a proxy server for Deep-Visibility (in URL format), if needed
  env:
    agent:
      enabled: # to disable the agent, set to 'false'
      host_mount_path: # leave default unless host path is mounted elsewhere in your environment
      persistent_dir: # path on the node to a directory that will be used for persistent storage (logs, configuration, etc. Unsupported in GKE autopilot)
      persistent_dir_removal_upon_installation: false # removes an existing persistent dir upon installation if uninstall hook failed in last uninstall operation (Unsupported with GitOps deployments)
      heap_trimming_enable: # to enable/disable heap trimming, set to 'true'/'false'
      heap_trimming_interval: # heap trimming default interval (s)
      log_level: "info" # info, error, warning, debug, trace (defaults to 'info')
      pod_uid: 1000 # uid of the default pod user
      pod_gid: 1000 # gid of the default pod group
      watchdog_healthcheck_timeout: 15 # watchdog healthcheck timeout before exiting the pod entrypoint. (seconds, 0=disabled)
      helper_healthcheck_retry: 60 # amount of tries to verify the helper service is running before starting the agent.
      helper_healthcheck_interval: 5 # time to wait between each try. (seconds)
      fips_enabled: # to enable/disable FIPS mode, set to 'true'/'false'
      ebpf_enabled: # to disable EBPF mode, set to 'false' (Unsupported in EKS Fargate)
    helper:
      log_level: "info" # info, error, warning, debug, trace (defaults to 'info')
      log_size: ""  # helper log file size in MBs. (defaults to 10)
      client_timeout: # client timeout. (seconds, default=120)
      inventory_enabled: true
      communicator_enabled: true
      exclude_non_running_containers: true # to enable non-running containers metadata discovery, set to 'false'
      exclude_init_containers: false # to exclude init containers metadata discovery, set to 'true'
      ports:
        grpc: 5071 # gRPC server control port
        target: 6443 # Server target port (HTTPS)
      hostNetwork: false # set to 'true' in case you are running on EKS with amazon linux 2023 ami and hop limit for the instance metadata of 1 in order for the helper to fetch instance metadata
    injection:
      enabled: false # to enable agent injection mode on AWS Fargate, set to 'true'
    admission_controllers:
      validating:
        enabled: false # to enable validating admission controller, set to 'true'
  # If you are using an on-prem console with an un-trusted CA, you need to provide the CA
  # certificate(s) and intermediaries, if needed, under files/*.pem in PEM format
  custom_ca: false
  custom_ca_path:
  imagePullPolicy: "" # defaults to IfNotPresent
  platform:
    type: kubernetes # platform-specific support: defaults to kubernetes. possible values: kubernetes, talos, openshift and
                     # serverless for kubernetes cluster without nodes (currently Fargate only). For serverless
                     # cluster with nodes as well, use kubernetes type.
    # optional settings, used with OpenShift only:
    openshift:
      scc:
        create: true # enable only if you are using OpenShift; this enables creation of a SecurityContextConstraint required to run on OpenShift
    gke:
      autopilot: false # enable if you are using GKE autopilot.
  localConf: # set Agent's initial local.conf configuration.
  overrideConf: # set Agent's initial override.conf configuration.
  inventory_only: false # enable to deploy only inventory collector

secrets:
  imagePullSecret: "" # you need to specify the name of the image pull secret (created outside this chart)
  helper_certificate: "" # you need to specify the name of the helper signed certificate secret (created outside this chart)
  helper_token: "" # you need to specify the name of the helper token secret (created outside this chart)
  helper_certificate_expiration_duration: 365 # set the helper certificate expiration duration in days
  site_key: # if neither were supplied, the agent will work offline mode
    value: "" # set site token if you want a secret to be crated with that value.
    name: "" # set the name of a pre-existing secret to use

# Most users will not want to make changes below this line.

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: sentinelone

agentInjection:
  selector:
    namespaceSelector:
      matchLabels:
        agent-injection-enabled: "true"
    objectSelector:
      matchExpressions:
        - key: agent-injection-enabled
          operator: NotIn
          values: ["false"]
  resources:
    limits:
      cpu: 900m
      memory: 1500Mi
    requests:
      cpu: 100m
      memory: 800Mi

admissionControllers:
  validating:
    selector: # Selector for the validating webhook configuration (default is set to exclude the release namespace)
    rules:
    - apiGroups:
      - '*'
      apiVersions:
      - v1
      operations:
      - CREATE
      - UPDATE
      - CONNECT
      resources:
      - '*'
      scope: '*'
    matchConditions:
      - name: 'exclude-leases'
        expression: '!(request.resource.group == "coordination.k8s.io" && request.resource.resource == "leases")' # Match non-lease resources.

helper:
  fullnameOverride: ""
  nameOverride: ""
  labels: {}
  podAnnotations: ""
  nodeSelector: {}
  priorityClassName: ""
  tolerations: {}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/os
            operator: In
            values:
            - linux
  probe: false
  # Default values for the helper security context
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
  resources:
    limits:
      cpu: 900m
      memory: 1945Mi # Almost equals to 1.9Gi but isn't fractional
    requests: # The requests will be overriden by the limits if GKE autopilot plaform configuration is set to true.
      cpu: 100m
      memory: 100Mi
  # Specifies whether cluster role and cluster role bindings should be created
  rbac:
    create: true

agent:
  capabilities:
    - DAC_OVERRIDE
    - DAC_READ_SEARCH
    - FOWNER
    - SETGID
    - SETUID
    - SYS_ADMIN
    - SYS_PTRACE
    - SYS_RESOURCE
    - SYSLOG
    - SYS_CHROOT
    - CHOWN
    - SYS_MODULE
    - KILL
    - NET_ADMIN
    - NET_RAW
  fullnameOverride: ""
  nameOverride: ""
  updateStrategy: ""
  rollingUpdateMaxUnavailable: 1
  labels: {}
  nodeSelector: {}
  priorityClassName: ""
  podAnnotations: ""
  apparmorAnnotation: container.apparmor.security.beta.kubernetes.io/s1-agent # support for k8s version < 1.30
  apparmorPolicy: Unconfined # Unconfined, Localhost or RuntimeDefault (defaults to Unconfined)
  apparmorLocalhostProfileName: "" # Set to a custom AppArmor profile name if type is Localhost, otherwise leave empty
  seccompProfile: # works for k8s version >= 1.19, older application was via annotation
    type: Unconfined
  tolerations:
    - effect: NoExecute
      operator: Exists
    - effect: NoSchedule
      operator: Exists
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/os
            operator: In
            values:
            - linux
          - key: eks.amazonaws.com/compute-type
            operator: NotIn
            values:
            - fargate
  resources:
    limits:
      cpu: 900m
      memory: 1945Mi # Almost equals to 1.9Gi but isn't fractional
    requests: # The requests will be overriden by the limits if GKE autopilot plaform configuration is set to true.
      cpu: 100m
      memory: 800Mi

service:
  annotations: {}

fullnameOverride: ""
nameOverride: ""
